@model ModelViewTipada.Models.Pessoa
@{
    ViewBag.Title = "Pessoa Cadastrada";
}

<h2>Pessoa Cadastrada</h2>
<div>
    <b>Nome: </b>@Model.Nome
</div>
<div>
    <b>Twitter: </b>@Model.Twitter
</div>

<a href="~/Home">Voltar</a>